<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>หน้าจอการลงทะเบียน</title>
    <style>
        input[name="birthDate"]::-webkit-calendar-picker-indicator {
            position: absolute;
            height: 120%;
            width: 70%;
            right: -17px;
            opacity: 0;
            cursor: pointer;
        }

        input[name="birthDate"]::-webkit-inner-spin-button {
            display: none;
            -webkit-appearance: none;
        }

        label#img-picker {
            display: block;
            width: 100%;
            height: 100%;
            background: url(../images/schedule.png) no-repeat;

        }

        button {
            width: 105px;
            height: 28px;
            margin: 0px 3px;
            border: 2px solid black;
            background: #C7C7C7;
        }

        .header {
            background: #66FF99;
            margin: 0;
            padding: 7px 0px;
        }

        .row {
            padding: 5px 0px;
            clear: both;
            width: 100%;
            display: flex
        }

        .column3 {
            width: 33.33%;
            display: flex
        }

        label {
            display: inline-block;
            width: 29%;
            text-align: right;
            margin: 0px 5px 0px 0px;
            align-self: flex-end;
            text-decoration: underline;
        }

        select {
            width: 70%;
            height: 35px;
            box-sizing: border-box;
        }

        .textInput70 {
            width: 70%;
            height: 30px;
            box-sizing: border-box;
        }

        .textInput70Eng {
            width: 70%;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div style="display: flex;">
        <img src="../images/light.png" alt="" width="80px">

        <div><br>ในขั้นตอนที่ 1 ทำการลงทะเบียนก่อน เพื่อรับ <b>ชื่อผู้ใช้</b> และ <b>รหัสผ่าน</b>
            <br><br>ใช้ในการกรอกใบสมัครในขั้นตอนที่ 2
        </div>
    </div style="display: flex;">
    <br />
    <div style="padding:0px 3px ; border: 2px solid #66FF99 ">
        <form action="./report" method="post" onsubmit="onSubmit()">
            <h3 class="header">ข้อมูลทั่วไป [ภาษาไทย] </h3>
            <div class="row">
                <div style="width:50%">
                </div>
                <div style="width:40% ; display:flex">
                    <label
                        style="display: inline-block;width:35%;text-align:right ;  margin:0px 5px 0px 0px ;     align-self: flex-end; text-decoration: underline;">หมายเลขบัตรประจำตัวประชาชน
                    </label>
                    <input style="width:64% ; height:30px;box-sizing: border-box; " type="text" name="idCard" />
                </div>
                <div style="width:10%">
                </div>
            </div>
            <div class="row">
                <div class="column3">
                    <label>คำนำหน้าชื่อ
                    </label>
                    <select style="  font-style: italic;" name="prefixThai">
                        <option value="">เลือก..</option>
                        <option value="นาย">นาย</option>
                        <option value="นาง">นาง</option>
                        <option value="นางสาว">นางสาว</option>
                    </select>
                </div>
                <div class="column3">
                    <label>
                        ชื่อ</label>
                    <input type="text" style="width:70% ;    box-sizing: border-box;" name="nameThai">
                </div>
                <div class="column3">
                    <label>นามสกุล
                    </label>
                    <input type="text" class="textInput70Eng" name="lastnameThai">
                </div>
            </div>
            <div class="row">
                <div class="column3">
                    <label
                        style="display: inline-block;width:29%;text-align:right ; margin:0px 5px 0px 0px ;     align-self: flex-end;;">ชื่อเล่น
                    </label>
                    <input type="text" class="textInput70" name="nickname">
                </div>
                <div style="width:33.33% ; display:flex;position: relative;">
                    <label>วัน/เดือน/ปี
                    </label>
                    <input type="date" style="width:55% ; height:30px;    box-sizing: border-box;" name="birthDate">
                    <div style="width:15%;height: 30px;text-align: center;">

                        <img src="../images/schedule.png" alt="" height='30px' id="schedule">
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="column3">
                    <label>จังหวัด</label>
                    <select name="province">
                        <option value=""></option>
                        <option value="นราธิวาส">ชลบุรี</option>
                        <option value="นครราชสีมา">ระยอง</option>
                        <option value="เชียงใหม่">ฉะเชิงเทรา</option>
                        <option value="กาญจนบุรี">จันทร์บุรี</option>
                        <option value="ตาก">ปราจีนบุรี</option>
                    </select>
                </div>
                <div class="column3">
                    <label>
                        อำเภอ/เขต</label>
                    <select name="district">
                        <option value=""></option>
                        <option value="ตากใบ">เมืองชลบุรี</option>
                        <option value="ยี่งอ">เมืองระยอง</option>
                        <option value="แก้งสนามนาง">เมืองฉะเชิงเทรา</option>
                        <option value="อำเภอดอยสะเก็ด">เมืองจันทร์บุรี</option>
                        <option value="ท่ามะกา">เมืองปราจีนบุรี</option>
                    </select>
                </div>
                <div class="column3">
                    <label>ตำบล/แขวง
                    </label>
                    <select name="district2">
                        <option value=""></option>
                        <option value="ปาเสมัส">แสนสุข</option>
                        <option value="ท่าสุด">ศรีราชา</option>
                        <option value="ท่าสาย">เสม็ด</option>
                        <option value="ห้วยสัก">วัดใหม่</option>
                        <option value="เวียง">ท่าช้าง</option>
                    </select>
                </div>
            </div>
            <div class="row">

                <div class="column3">
                    <label>บ้านเลขที่
                    </label>
                    <input type="text" class="textInput70" name="address">
                </div>
                <div class="column3">
                    <label>ถนน
                    </label>
                    <input type="text" class="textInput70" name="road">
                </div>
                <div class="column3">
                    <label>รหัสไปรษณีย์
                    </label>
                    <input type="text"
                        style="width:70% ; height:30px;    box-sizing: border-box; padding: 15px 0px 0px 5px;"
                        pattern="^\d{5}$" maxlength="5" name="postCode">
                </div>
            </div>
            <div class="row">

                <div class="column3">
                    <label>โทรศัพท์
                    </label>
                    <input type='text' class="textInput70" pattern="^\d{9}$" maxlength="9" name="tel">
                </div>
                <div class="column3">
                    <label>โทรสาร
                    </label>
                    <input type="text" class="textInput70" pattern="^\d{9}$" maxlength="9" name="tel2">
                </div>
                <div class="column3">
                    <label>เบอร์โทรศัพท์มือถือ
                    </label>
                    <input type="text" class="textInput70" pattern="^\d{10}$" maxlength="10" name="tel3">
                </div>
            </div>
            <div class="row">

                <div style="width:60% ; display:flex">
                    <label
                        style="display: inline-block;width:16%;text-align:right ; margin:0px 5px 0px 0px ;     align-self: flex-end; text-decoration: underline;;">อีเมล
                    </label>
                    <input type="email" style="width:80% ; height:30px;    box-sizing: border-box;" name="email"
                        required>
                </div>
                <span style="width:40% ; align-self: center;color:red"><b>*ใช้ในการรับรหัสผ่าน
                        กรณีลืมรหัสผ่าน</b></span>
            </div>
            <h3 class="header">ข้อมูลทั่วไป [ภาษาอังกฤษ] </h3>
            <div class="row">

                <div class="column3">
                    <label>Prefix
                    </label>
                    <select name="prefixEng">
                        <option value="Mr.">Mr.</option>
                        <option value="Mrs.">Mrs.</option>
                        <option value="Miss">Miss</option>
                    </select>
                </div>
                <div class="column3">
                    <label>Firstname
                    </label>
                    <input type="text" class="textInput70Eng" name="nameEng">
                </div>
                <div class="column3">
                    <label>Lastname
                    </label>
                    <input type="text" class="textInput70Eng" name="lastnameEng">
                </div>
            </div>
            <div style="background:#66FF99 ; margin:0 ;text-align: right; padding:12px 13px ; ">
                <button><b>บันทึก</b></button>
                <button onclick="onClear(event)" ;><b>ยกเลิก</b></button>
            </div>
        </form>
        <div>
</body>

<script>
    const idCardElement = document.getElementsByName("idCard")[0]
    const prefixThaiElement = document.getElementsByName("prefixThai")[0]
    const nameThaiElement = document.getElementsByName("nameThai")[0]
    const lastnameThaiElement = document.getElementsByName("lastnameThai")[0]
    const nicknameElement = document.getElementsByName("nickname")[0]
    const birthDateElement = document.getElementsByName("birthDate")[0]
    const provinceElement = document.getElementsByName("province")[0]
    const districtElement = document.getElementsByName("district")[0]
    const district2Element = document.getElementsByName("district2")[0]
    const addressElement = document.getElementsByName("address")[0]
    const roadElement = document.getElementsByName("road")[0]
    const postCodeElement = document.getElementsByName("postCode")[0]
    const telElement = document.getElementsByName("tel")[0]
    const tel2Element = document.getElementsByName("tel2")[0]
    const tel3Element = document.getElementsByName("tel3")[0]
    const emailElement = document.getElementsByName("email")[0]
    const prifixEngElement = document.getElementsByName("prefixEng")[0]
    const nameEngElement = document.getElementsByName("nameEng")[0]
    const lastnameEngElement = document.getElementsByName("lastnameEng")[0]

    document.getElementById("schedule").addEventListener("click", function (event) {
        event.preventDefault()
    });


    function onSubmit() {
        if (isNaN(idCardElement.value)) {
            alert('หมายเลขบัตรประชาชนต้องเป็นตัวเลขเท่านั้น')
        } else if (idCardElement.value.length > 13) {
            alert('หมายเลขบัตรประชาชน รับไม่เกิน 13 หลัก')
        } else if (isNaN(postCodeElement.value)) {
            alert('รหัสไปรษณีย์ รับตัวเลขได้เท่านั้น')
        } else if (postCodeElement.value.length > 5) {
            alert('รหัสไปรษณีย์ รับไม่เกิน 5 หลัก')
        } else if (isNaN(telElement.value)) {
            alert('รับตัวเลขได้เท่านั้น')
        } else if (telElement.value.length > 9) {
            alert('รับไม่เกิน 5 หลัก')
        } else if (isNan(telElement2value)) {
            alert('รับตัวเลขได้เท่านั้น')
        } else if (telElement2value.length > 10) {
            alert('รับไม่เกิน 5 หลัก')
        } else {
            alert('ข้อมูลถูกต้อง');
        }
    }
    function onClear(event) {
        idCardElement.value = ""
        prefixThaiElement.value = ""
        nameThaiElement.value = ""
        lastnameThaiElement.value = ""
        nicknameElement.value = ""
        birthDateElement.value = ""
        provinceElement.value = ""
        districtElement.value = ""
        district2Element.value = ""
        addressElement.value = ""
        roadElement.value = ""
        postCodeElement.value = ""
        telElement.value = ""
        tel2Element.value = ""
        tel3Element.value = ""
        emailElement.value = ""
        prifixEngElement.value = ""
        nameEngElement.value = ""
        lastnameEngElement.value = ""
        event.preventDefault()
    }
</script>

</html>