<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>รายงาน</title>
    <style>
        input {
            border: 0px;
            background: white;
        }

        button {
            width: 145px;
            height: 28px;
            margin: 0px 3px;
            border: 0px solid black;
            background: #59C2D8;
            color: white;
            border-radius: 6px;
        }

        label {
            display: inline-block;
            width: 29%;
            text-align: right;
            margin: 0px 5px 0px 0px;
            align-self: center;
            ;
            ;
        }

        .textInput {
            width: 70%;
            height: 30px;
            padding: 5px 0px 0px;
            color: black;
            box-sizing: border-box;
        }

        .header {
            background: #34FE38;
            margin: 0;
            padding: 7px 0px;
        }

        .column3 {
            width: 33.33%;
            display: flex
        }

        .row {
            padding: 5px 0px;
            clear: both;
            width: 100%;
            display: flex
        }

        .inputDate {
            width: 55%;
            height: 30px;
            padding: 5px 0px 0px;
            ;
            color: black;
            box-sizing: border-box;
        }
    </style>
</head>

<body>

    <br />
    <form style="padding:0px 3px ; border: 2px solid #34FE38 ">
        <h3 class="header">รายงานข้อมูลผู้สมัคร สส.เขต </h3>
        <div style="padding:25px 10px">
            <div class="row">
                <div style="width:14.16% ; display:flex">
                    <label
                        style="display: inline-block;width:70%;text-align:right ; margin:0px 5px 0px 0px ;     align-self: center;;;">คำนำหน้าชื่อ:
                    </label>
                    <input type="text" disabled
                        style="width:30% ; height:30px;    padding : 5px 0px 0px;;color:black;box-sizing: border-box;"
                        value="<%= prefixThai %>">

                </div>
                <div style="width:16.16% ; display:flex">
                    <label
                        style="display: inline-block;width:14%;text-align:right ; margin:0px 5px 0px 0px ;     align-self: center;;;">
                        ชื่อ:</label>
                    <input type="text" disabled
                        style="width:75% ;    padding : 5px 0px 0px;;color:black;box-sizing: border-box;"
                        value="<%= nameThai %>">
                </div>
                <div class="column3">
                    <label
                        style="display: inline-block;width:38%;text-align:right ; margin:0px 5px 0px 0px ;     align-self: center;;;">นามสกุล
                        :
                    </label>
                    <input type="text" disabled
                        style="width:57% ;  padding : 5px 0px 0px;;color:black;box-sizing: border-box;"
                        value="<%= lastnameThai %>">
                </div>

                <div style="width:35.33% ; display:flex">
                    <label
                        style="display: inline-block;width:50%;text-align:right ;  margin:0px 5px 0px 0px ;     align-self: center;;">
                        หมายเลขบัตรประจำตัวประชาชน
                        :
                    </label>
                    <input style="width:49% ; height:30px;padding : 5px 0px 0px;;color:black;box-sizing: border-box;"
                        type="text" value="<%= idCard %>" disabled />
                </div>
            </div>
            <div class="row">
                <div class="column3">
                    <label>ชื่อเล่น
                        :
                    </label>
                    <input type="text" disabled class="textInput" value="<%= nickname %>">
                </div>
                <div class="column3">
                    <label>วัน/เดือน/ปี
                        :
                    </label>
                    <input type="text" disabled class="inputDate" value="<%= birthDate %>">
                </div>
            </div>
            <div class="row">

                <div class="column3">
                    <label>จังหวัด
                        :</label>
                    <input type="text" disabled class="inputDate" value="<%= province %>">

                </div>
                <div class="column3">
                    <label>
                        อำเภอ/เขต :</label>
                    <input type="text" disabled class="inputDate" value="<%= district %>">

                </div>
                <div class="column3">
                    <label>ตำบล/แขวง
                        :
                    </label>
                    <input type="text" disabled class="inputDate" value="<%= district2 %>">

                </div>
            </div>
            <div class="row">

                <div class="column3">
                    <label>บ้านเลขที่
                        :
                    </label>
                    <input type="text" disabled class="textInput" value="<%= address %>">
                </div>
                <div class="column3">
                    <label>ถนน
                        :
                    </label>
                    <input type="text" disabled class="textInput" value="<%= road %>">
                </div>
                <div class="column3">
                    <label>รหัสไปรษณีย์
                        :
                    </label>
                    <input type="text" disabled class="textInput" value="<%= postCode %>">
                </div>
            </div>
            <div class="row">

                <div class="column3">
                    <label>โทรศัพท์
                        :
                    </label>
                    <input type="text" disabled class="textInput" value="<%= tel %>">
                </div>
                <div class="column3">
                    <label>โทรสาร
                        :
                    </label>
                    <input type="text" disabled class="textInput" value="<%= tel2 %>">
                </div>
                <div class="column3">
                    <label>เบอร์โทรศัพท์มือถือ
                        :
                    </label>
                    <input type="text" disabled class="textInput" value="<%= tel3 %>">
                </div>
            </div>
            <div class="row">

                <div class="column3">
                    <label>อีเมล
                        :
                    </label>
                    <input type="text" disabled class="textInput" value="<%= email %>">
                </div>
            </div>
        </div>
    </form>
    <div style="border:2px solid #34FE38 ; margin:0 ;text-align: right; padding:20px 13px ; margin :5px 0px">
        <button><b>ปริ้น</b></button>
        <button><b>ยกเลิก</b></button>
    </div>
</body>

</html>